html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body
{
  background-image: url(../pictures/backgr_unsplash.jpg);
  background-color:#222221; /* Цвет фона */
  color: #FFFFFF;
  background-size: 100%;
  background-attachment: fixed;
  background-blend-mode: overlay;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header
{
  margin: auto;
  width: 50%;
  text-align: center;
}

main{
  margin: auto;
  width: 75%;
}



pre{
  background-color : #000000;
  border-color: #FFEE0D;
  border-style:  solid;
  border-width: 1px;
  font-size: calc(1.2vw + 1.2vh);
  overflow-x: scroll;
}


figure{
  margin: auto;
}

main section h2{
  color:#FFEE0D;
}

img#avatar{
  width: calc(9vw + 9vh);
  height: calc(9vw + 9vh);
  border-radius: 20vh 20vh 20vh 20vh;
  border-style: solid;
  border-width: 8px;
  border-color: #FFEE0D;
  margin-top: 5vh;
}

img#avatar:hover{
  transition: ease-in-out;
  transition-duration: 1s;
  border-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px #FFFFFF;
}

h1{

  font-size: calc(2.5vw + 2.5vh);
  text-transform: uppercase;
  color: #FFEE0D;
  text-align: center;
}

h2{
  font-size: calc(2vw + 2vh);
  text-align: center;
}

h3{
  font-size: calc(1.75vw + 1.75vh);
}

h4{
  font-size: calc(1.5vw + 1.5vh);
}

main ul li{

  font-size: calc(1.5vw + 1.75vh);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

nav li ul#links
{
  visibility: hidden;
}

li#menuPoint{
  width: calc(4vw + 4vh);
  height: calc(4vw + 4vh);
  font-size: calc(1.5vw + 1.5vh);
  color: #000000;
  background-color: #FFEE0D;

}

nav li#menuPoint:hover ul#links,
nav li ul#links:hover{
  transition: ease-in-out;
  transition-duration: 0.5s;
  visibility: visible;
}

aside{
  margin-right: 14vh;
  margin-top: -40vh;
  position: fixed;
}


nav li{
  width: calc(12vw + 6vh);
  height: calc(2vw + 8vh);;
  background-color: #FFEE0D;
  color: #FFEE0D;
  padding-left: 2vh;
  list-style-type: none;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  word-wrap: break-word;
}

nav li ul{
  margin-top: 0vh;
}

nav a{
  color: #000000;
  font-size: calc(1.5vw + 1.5vh);
}

nav a:hover{
  color: #000000;
}


nav li:hover{
  transition: ease-in-out;
  transition-duration: 0.5s;
  font-size: calc(1.8vw + 1.8vh);
  background-color: #ffffff;
}


a{
  color: #FFEE0D;
  text-decoration: none;
}

a:hover{
  transition: ease-in-out;
  transition-duration: 1s;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px #FFFFFF;
}

footer p{
  text-align: center;
}


footer img{
  width: calc(5vw + 5vh);
  height: calc(5vw + 5vh);
  margin: 40px;
}

footer section{
  padding: calc(4vw + 4vh);
  margin: 2vw;
}

footer{
  background-color: #D65421;
  color: #000000;
  width: 100%;
  font-size: calc(1.6vw + 1.6vh);
  word-wrap: break-word;
}

footer a{
  color:#fbff00;
}
